@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<CitamChoir.Models.Member>
@{
    ViewBag.Title = "Home Page";
}
<div class="container">

    <div class="row ">

        <div class="col-sm-2 total-members">
            <p class="">TotalMembers</p>
            <div class="member-summary">
                <p>150</p>
            </div>
        </div>
       

        <div class="col-sm-2 total-sopranos">
            <p>Sopranos</p>
            <div class="member-summary">
                <p>50</p>
            </div>
        </div>
       

        <div class="col-sm-2 total-altos">
            <p>Altor</p>
            <div class="member-summary">
                <p>40</p>
            </div>
        </div>
      

        <div class="col-sm-2 total-tenor">
            <p>Tenor</p>
            <div class="member-summary">
                <p>20</p>
            </div>
        </div>
       

        <div class="col-sm-2 total-bass">
            <p>Bass</p>
            <div class="member-summary">
                <p>5</p>
            </div>
        </div>
       

        <div class="col-sm-2 total-band">
            <p>band</p>
            <div class="member-summary">
                <p>10</p>

            </div>
        </div>
        


    </div>
</div>

<div>
    <table class="table table-hover" ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().OtherNames)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Voice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().BGV)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().WorshipLeader)
                </th>



                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var memberData in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => @memberData.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @memberData.OtherNames)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => @memberData.Voice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @memberData.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @memberData.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @memberData.BGV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @memberData.WorshipLeader)
                    </td>


                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>*@
                </tr>

            }
        </tbody>

    </table>

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>


