@model IEnumerable<CitamChoir.ViewModel.MembersFormViewModel>

@{
    ViewBag.Title = "Createrr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Createrr</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherNames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorshipLeader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leader)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherNames)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Voice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BGV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorshipLeader)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Leader)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
